.*~
*~
TODO.txt
deploy*.sh
*.log
search/
solandra/
es/data/
es/work/
es/logs/
es/jetwickcluster
esOld/
target/
adindex/data/
adindex/data.bak/
uindex/data/
uindex/data.bak/
twindex/data/
twindex/data.bak
out.txt
*.log
tmp.*
tagfile.txt