a {
    text-decoration: none;
}
.msg {    
    font-size: 0.8em;
}
.users {
    margin-left: 0px;
    padding-left: 0px;    
}

.user-name {
    padding: 0px 5px 5px 0px;
    float: left;
    font-weight: bold;
}
.tweet-footer {    
    clear: both;
    font-size: 0.6em;
}
.retweets {    
    padding-right: 10px;
    float: left;
}

.users .user {
    border-bottom: gray 1px solid;
    padding: 5px 0px 5px 0px;
}

.tweets {
    margin-left: 0px;
    padding-left: 0px;
}
